@import "./index.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #843030;
}

a {
  color: #fff;
}

.container {
  box-sizing: border-box;
  max-width: 1920px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 20px 10%;
  background-color: #843030;
  color: #fff;
  font-weight: 500;
  transition: all;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.img-nav {
  width: 1.5rem;
  height: 1.5rem;
}

.logo-link {
  position: absolute;
  right: 50%;
}

.logo-link:hover {
  cursor: pointer;
}

.img-logo {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  list-style-type: none;
}

.nav-list span.active {
  color: #333;
}

.nav-list span:hover {
  cursor: pointer;
}

/*Слайдер*/

.slider {
  position: relative;
  width: 100%;
  height: 700px;
  transition: transform 0.5s ease-in-out;
}

.slider-img {
  display: relative;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.slider-btn-left {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.slider-btn-left:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.slider-btn-right {
  position: absolute;
  top: 50%;
  right: 3%;
  width: 2rem;
  height: 2rem;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.slider-btn-right:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.slider-menu {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.slider-menu-flex {
  display: flex;
  column-gap: 10px;
}

.slider-rec {
  width: 1rem;
  height: 1rem;
}

/*Футер*/

.footer .container {
  display: flex;
  flex-direction: column;

}

.footer {
  background-color: #843030;
  padding: 30px 5%;
}

.footer span {
  cursor: pointer;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.list-head {
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
  padding-top: 5px;
}

.img-social {
  height: 2rem;
  width: 2rem;
}

.rulesInfo {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.rulesInfo p {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  padding: 0.4rem;
}

/*Меню каталога*/

.catalog {
  height: 4rem;
  display: flex;
  align-items: center;
}

.catalog-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.catalog-menu-link {
  padding: 0.6rem 0.7rem;
  border-radius: 10px;
  margin-right: 1rem;
  border: #333;
  color: #333;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
}

.catalog-menu-link:hover,
.catalog-menu-link.active {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.catalog-menu-link:active {
  position: relative;
  top: 2px;
}

/*Меню фильтров*/

.filters {
  display: flex;
}

.menu-wrapper {
  margin-right: 1rem;
}

.menu-button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  /* Цвет кнопки */
  color: #333;
  cursor: pointer;
}

.menu-button img {
  width: 20px;
  margin-left: 5px;
}

.menu-button:hover {
  color: #b3b0b0;
  fill: #b3b0b0;
}

.menu-content {
  display: none;
  z-index: 1;
  width: auto;
  position: absolute;
  transition: left 0.3s ease;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #333;
  padding: 10px 10px;
}

.menu-content.active {
  display: block;
}

.menu-content label {
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.menu-content span {
  margin-left: 5px;
}

/*Карточка товара в каталоге*/

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
  position: relative;
}

.product-image {
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.default-image {
  opacity: 1;
}

.alternate-image {
  opacity: 0;
}

.product-image:hover .default-image {
  opacity: 0;
}

.product-image:hover .alternate-image {
  opacity: 1;
}

.product-title {
  margin: 0;
  font-size: 1.2rem;
  text-align: start;
  color: #fff;
  font-weight: 600;
}

.product-price {
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: start;
  color: #fff;
}

.card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite-button {
  width: 30px;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.favorite-button:hover {
  transform: scale(1.15);
}

.more-button {
  display: flex;
  margin: 20px auto 40px auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 40px;
}

/*Подробная карточка товара*/

.card-container {
  max-width: 1200px;
  margin: auto;
}

.back-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.back-btn img {
  width: 15px;
  margin-right: 10px;
}

.back-btn span {
  color: #333;
}

.card-information {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}

.card-images {
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
}

.card-images .slider-btn-left {
  top: 40%;
}

.card-images .slider-btn-right {
  top: 40%;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 10px;
}

.thumbnail {
  width: 92px;
  height: 92px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid transparent;
}

.thumbnail:hover {
  border-color: #000000;
}

.thumbnail.active {
  border-color: #000000;
}

.main-image {
  max-width: 500px;
  height: 750px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.product-card-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-card-description {
  margin-bottom: 10px;
}

.product-card-price {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
  font-weight: bolder;
}

.card-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.add-to-cart {
  padding: 10px 20px;
  color: #333;
  border: 3px solid #333;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.8s all;
}

.add-to-cart:hover {
  color: #fff;
  border: 3px solid #333;
  background: #333;
}

.go-to-cart {
  padding: 10px 20px;
  border: 3px solid #333;
  background-color: #333;
  color: white;
  cursor: pointer;
}

/*Favorite popup */

.modal-overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-overlay.open {
  left: 0;
}

.fav-popup {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -500px;
  min-height: 100vh;
  max-height: 100%;
  width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 2000;
}

.fav-popup.open {
  right: 0;
}

.fav-popup-content {
  position: relative;
  display: flex;
  padding: 25px;
  flex-direction: column;
}

.fav-popup-content h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.fav-close-popup {
  position: absolute;
  margin: 15px;
  width: 30px;
  top: 0;
  right: 0;
  color: #333;
}

.favorite-list {
  display: flex;
  flex-direction: column;
  color: #333;
  gap: 15px;
}

.favorite-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fav-product-image {
  width: 92px;
  height: 92px;
  object-fit: cover;
  border-radius: 10px;
}

.fav-product-details-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.fav-product-details {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  max-width: 170px;
}

.fav-product-name {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.fav-product-size {
  font-weight: 300;
  font-size: 0.8rem;
}

.fav-product-price {
  color: #333;
  margin-right: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.fav-remove-button {
  width: 25px;
}

/* Basket modal */

.basket-popup {
  display: none;
  max-width: 600px;
  margin: 65px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 3000;
}

.basket-popup.open {
  display: block;
}

.basket-popup-content {
  position: relative;
  display: flex;
  padding: 15px;
  flex-direction: column;
  color: #333;
}

.basket-popup-content h2 {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.basket-close-popup {
  position: absolute;
  width: 30px;
  top: 0;
  right: 0;
  color: #333;
}

.basket-list {
  display: flex;
  flex-direction: column;
  color: #333;
  gap: 15px;
}

.basket-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.basket-product-image {
  width: 92px;
  height: 92px;
  object-fit: cover;
  border-radius: 10px;
}

.basket-product-details-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}

.basket-product-details {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.basket-product-name {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.basket-product-size {
  font-weight: 300;
  font-size: 0.8rem;
}

.basket-product-price {
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.basket-remove-button {
  width: 20px;
}

/* Стили для контейнера формы */
.basket-form {
  margin-top: 20px;
}

/* Стили для отдельных полей ввода */
.basket-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.basket-form-field label {
  font-size: large;
  font-weight: 500;
  padding-bottom: 10px;
}

.basket-form-field input {
  font-size: large;
  border: 1px solid #333;
  padding: 15px;
  margin: 5px 0;
}

.basket-form-radio {
  margin-bottom: 20px;
  font-size: large;
  font-weight: 500;
}

.basket-form-radio-btn {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: large;
  font-weight: 400;
}

.basket-form-radio-btn input {
  margin-right: 10px;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #b3b0b0;
  border-radius: 50%;
}

.basket-form-radio-btn input:checked {
  background-color: #333;
}

.basket-form-error {
  color: red;
  margin-top: 10px;
  font-weight: 400;
  font-size: medium;
}

.basket-sum {
  font-weight: 700;
  font-size: x-large;
  padding-top: 1rem;
  text-align: end;
}

/* Стили для кнопки отправки */

.basket-form-field p {
  font-size: large;
  font-weight: 500;
  padding: 10px 0;
}

.basket-form-button {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.basket-form-button:disabled {
  background-color: #b3b0b0;
}